<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="copyright text-center">
                    <p>© Copyright
                        <script>
                            var CurrentYear = new Date().getFullYear()
                            document.write(CurrentYear)
                        </script>
                        <a href="/privacy">MyBudgetPal Privacy Policy</a> | All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>