<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/toastr/toastr.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/toastr/toastr-init.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/circle-progress/circle-progress.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/circle-progress/circle-progress-init.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/chartjs/chartjs.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-bar-income-vs-expense.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-bar-weekly-expense.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-profile-wallet.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-profile-wallet2.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-profile-wallet3.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-profile-wallet4.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-bar.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-line.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-line-balance-wallet.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-line-total-balance.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-donut.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-bar-budget-period.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-line-balance-overtime.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-line-balance-trend.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/chartjs-donut-exchange.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar-init.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
<script src="{{ url_for('static', filename='js/plugins/recaptcha.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/recaptcha-init.js') }}"></script>