<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyBudgetPal : Reset</title>
    
    {% include 'common/head.html' %}
</head>

<body class="dashboard">
    {% include 'common/preloader.html' %}
    <div class="authincation">
        <div class="container">
            <div class="row justify-content-center align-items-center g-0">
                <div class="col-xl-8">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="welcome-content">
                                <div class="welcome-title">
                                    <div class="mini-logo">
                                        <a href="{{ url_for('dashboard.index') }}">
                                            <img src="../static/images/logo-white.png" alt="" width="30" /></a>
                                    </div>
                                    <h3>Welcome to MyBudgetPal</h3>
                                </div>
                                <div class="privacy-social">
                                    <div class="privacy-link"><a href="#">Have an issue with 2-factor
                                            authentication?</a><br /><a href="#">Privacy Policy</a></div>
                                    <div class="intro-social">
                                        <ul>
                                            <li><a href="#"><i class="fi fi-brands-facebook"></i></a></li>
                                            <li><a href="#"><i class="fi fi-brands-twitter-alt"></i></a></li>
                                            <li><a href="#"><i class="fi fi-brands-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fi fi-brands-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="auth-form">
                                <h4>Reset</h4>
                                <form method="POST" action="{{ url_for('auth.reset') }}">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <label class="form-label">Email</label>
                                            <input name="email" type="text" class="form-control" />
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        </div>
                                    </div>
                                    <div class="mt-3 d-grid gap-2"><button type="submit" class="btn btn-primary me-8 text-white">Submit</button></div>
                                </form>
                                <p class="mt-3 mb-0 undefined">Already have an account?<a class="text-primary" href="{{ url_for('auth.signin') }}"> Sign In</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'common/scripts.html' %}
</body>

</html>